input[type="checkbox"].toggle {
    opacity: 0;
    position: absolute;
    left: -99999px;
  }
  input[type="checkbox"].toggle + label {
    height: 40px;
    line-height: 40px;
    background-color: #158cba;
    padding: 0px 16px;
    border-radius: 16px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    -moz-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    -webkit-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
    -moz-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5);
  }
  input[type="checkbox"].toggle + label:before, input[type="checkbox"].toggle + label:hover:before {
    content: ' ';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 46px;
    height: 36px;
    background: #fff;
    z-index: 2;
    -moz-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    -webkit-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
  }
  input[type="checkbox"].toggle + label .off, input[type="checkbox"].toggle + label .on {
    color: #fff;
  }
  input[type="checkbox"].toggle + label .off {
    margin-left: 100px;
    display: inline-block;
  }
  input[type="checkbox"].toggle + label .on {
    display: none;
  }
  input[type="checkbox"].toggle:checked + label .off {
    display: none;
  }
  input[type="checkbox"].toggle:checked + label .on {
    margin-right: 100px;
    display: inline-block;
  }
  input[type="checkbox"].toggle:checked + label, input[type="checkbox"].toggle:focus:checked + label {
    background-color: #158cba;
  }
  input[type="checkbox"].toggle:checked + label:before, input[type="checkbox"].toggle:checked + label:hover:before, input[type="checkbox"].toggle:focus:checked + label:before, input[type="checkbox"].toggle:focus:checked + label:hover:before {
    background-position: 0 0;
    top: 2px;
    left: 100%;
    margin-left: -48px;
  }

  body {
    background: #f1f1f1;
    padding-top: 24px;
    text-align: center;
    font-family: arial;
  }

  p {
    font-size: 16px;
    color: #717171;
    margin: 0;
  }
  p:first-of-type {
    margin-top: 24px;
  }
