{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}About{% endblock %}

{% block navbar-left %}
    {% if not user.is_authenticated %}
        {% include "_navbar.html" with active_link="about" %}
    {% endif %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
<a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
<a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
  {% else %}
    {% include "loggedin_navbar.html" with active_link="about" %}
    {{ block.super }}
  {% endif %}
{% endblock %}



<!-- Benefits of the Django application -->
{% block container %}

<div id="sec1" class="text-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>{% include "_brandname.html" %}</h1>
        <p class="lead">{% include '_tagline.html' %}</p>
      </div>
    </div>
  </div>
</div>
<!-- <div id="sec2" class="text-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Purpose</h2>
        <p class="lead">What and Why</p>
      </div>
    </div>
    <div class="row">
      <p>
        XXXXXXXXXXXXXXX
      </p>
    </div>
  </div>
</div> -->


{% endblock container %}
