{% extends "base.html" %}

{% load staticfiles %}
{% load thumbnail %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block navbar-left %}
  {% if not user.is_authenticated %}
    {% include "_navbar.html" with active_link="home" %}
  {% else %}

  {% endif %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
<a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
<a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
  {% else %}
    {% include "loggedin_navbar.html" with active_link="home" %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block splash %}
  <div class="jumbotron jumbotron-carousel corporate-jumbo">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <h1 class="shadow">{% include "_brandname.html" %}</h1>
          <p class="important">{% include '_tagline.html' %}</p>
          {% if not user.is_authenticated %}
	          <a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up for Free!</a>
          {% endif %}
        </div>
        <div class="col-md-4 col-sm-4">

        </div>
      </div>
    </div>
  </div>
{% endblock splash %}

{% block container %}
<!-- Benefits of the Django application -->
<a id="about"></a>

<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <!-- <h2>Smart</h2> -->
      <p style='padding: 20px;'>We utilise traditional portfolio methods such as Constant Rebalanced and Modern Portfolio Theory, and enhance it with deep learning sentiment analysis, to provide superior portfolio performance, to help achieve your financial goals</p>
      <p><a class="btn btn-primary" href="{% url 'portfolio_edit' %}" role="button">View our portfolios</a></p>
    </div>
  </div>
</div>

{% endblock container %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}

